
.button-three {
  font-size: 0.9rem;
  padding: 12px;
  padding-left: 25px;
  padding-right: 25px;
  color: white;
  background-color: #0061f2;
  border-radius: 50px;
  border-color: #212832;
  border: none;
  font-weight: 400;
}
